:root {
    --primary-color: #9848ff;
    --secondary-color: #536390;
    --font-dark: #2f2f2f;
    --font-light: #fff;
    --font-faded: #a4a4a4;
    --font-hover: #000;
    --font-hover-light: #fff;
    --font-family: Quicksand;
    --bg-light: #fff;
    --bg-ambient: #ffffffc2;
    --bg-active: rgba(0, 0, 0, 0.05);
    --bg-hover: #e6e6e6;
    --bg-dark: #0f0f0f;
    --bg-secondary: #dfecf1;
    --heading-color: #292922;
    --border-color: #ccc;
    --path: #2F3545;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--font-dark);
}

section {
    max-width: 1200px;
    margin: auto;
}

.align_center {
    text-align: center;
}

.head_text-color {
    color: var(--primary-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Raleway;
}

.head_text-main {
    color: var(--font-dark);
    font-size: calc(28px + (30 - 28) * ((100vw - 300px) / (600 - 300)));
    font-weight: 700;
    font-family: Poppins;
}

.head_text_para {
    font-size: 14px;
    font-size: calc(14px + (30 - 29) * ((100vw - 300px) / (600 - 300)));
    font-weight: 500;
    color: var(--font-faded);
    font-family: Raleway;
    margin: 15px;
}

.button_1 {
    background: var(--primary-color);
    color: var(--font-light);
    border: 2px solid var(--primary-color);
    font-weight: 600;
    padding: 10px 16px;
    border-radius: 25px;
    transition: 0.3s ease;
}

.button_1:hover {
    color: var(--primary-color);
    background: transparent;
}

/* ****** */
/* Header */
/* ****** */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 56px;
    width: 100%;
    transition: 0.8s ease;
    position: fixed;
    top: 0;
    z-index: 99;
}

.sticky {
    position: fixed;
    background: var(--primary-color);
    top: 0;
    left: 0;
    transition: 0.8s ease;
    z-index: 99;
    box-shadow: #9748ff75 0px 6px 20px 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.nav_logo {
    color: var(--font-dark);
    font-weight: 800;
    transition: 0.3s ease;
}

.sticky .nav_logo {
    color: #fff;
}

.nav_logo .logo_color {
    color: var(--primary-color);
    transition: 0.3s ease;
}

.sticky .nav_logo .logo_color {
    color: #fff;
}

.nav_menu {
    flex: 40%;
    max-width: 500px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav_menu .nav_item a {
    color: var(--font-faded);
    transition: 0.3s ease;
}

.nav_menu.nav_item a:hover {
    color: #fff;
}

.nav_menu .active a {
    color: var(--primary-color);
    font-weight: 600;
}

.nav_login a {
    margin-left: 30px;
    padding: 8px 24px;
    background: var(--primary-color);
    color: var(--font-light);
    font-weight: 500;
    border-radius: 20px;
    font-size: 14px;
}

.sticky .button_1 {
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
}

.sticky .button_1:hover {
    color: #fff;
    background: #6e90ed8e;
}

.sticky .nav_item a {
    color: #ffffffa8;
    transition: 0.3s ease;
}

.sticky .nav_item a:hover {
    color: #fff;
}

.sticky .active a {
    color: #fff;
}

.nav-toggle {
    background: transparent;
    border: none;
    outline: none;
    color: var(--font-dark);
    transition: 0.3s;
    height: 25px;
    width: 25px;
    font-size: 16px;
    display: none;
}

.sticky .nav-toggle {
    color: var(--font-light);
}


.nav_menu-m {
    position: absolute;
    right: 35px;
    top: 35px;
    background: var(--bg-light);
    z-index: 99;
    box-shadow: #5555554d 5px 9px 30px 0px;
    padding: 0 1rem;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.toggle .nav_menu-m {
    display: flex;
}

.nav_item-m {
    line-height: 25px;
    height: 25px;
    width: 100%;
    padding: 5px 1rem;
    border-radius: 8px;
    transition: 0.3s ease;
}

.nav_item-m:hover {
    background: var(--bg-active);
}

/* ********** */
/* Banner CSS */
/* ********** */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-top: 60px;
}

.banner_heading {
    color: var(--font-dark);
    /* font-size: 36px; */
    font-size: calc(28px + (30 - 28) * ((100vw - 300px) / (600 - 300)));
    margin: auto;
    width: calc(80%);
    font-family: Poppins;
}

.banner_paragraph {
    width: calc(50%);
    color: var(--font-faded);
}

.banner_buttons {
    display: flex;
    width: 275px;
    align-items: center;
    justify-content: space-between;
}

.banner_buttons .button2 a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.banner_buttons .fa-play {
    color: var(--primary-color);
    background: #9848ff42;
    padding: 10px;
    border-radius: 50%;
    margin: 0 8px;
    transition: 0.3s ease-in;
}

.banner_buttons .button2:hover .fa-play {
    transform: rotate(240deg) scale(1.1);
}

.banner_img {
    display: flex;
    grid-gap: 2rem;
    width: 100%;
    margin: 30px auto;
    max-width: 1200px;
    justify-content: center;
}

.banner_img img {
    width: 200px;
    border-radius: 100px;
}

.banner_img .img2,
.banner_img .img3 {
    transform: translateY(40px);
}

/* *********** */
/* Company CSS */
/* *********** */

.max-width {
    margin: 60px auto;
    padding: 0 50px;
    max-width: 1200px;

}

.company .company_brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
}

.company .company_brands div {
    margin: 10px;
}

/* ************ */
/* Services CSS */
/* ************ */


.services {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 50px;
}

.services_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.services_content-1,
.services_content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services_content .services_card {
    min-width: 200px;
    min-height: 250px;
    width: 200px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 16px;
    cursor: default;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: #5555554d 5px 9px 30px 0px;
    transition: 0.3s ease;
}

.services_content .services_card:hover {
    box-shadow: #5555554d 13px 17px 30px 0px;
}

.services .services_card i {
    font-size: 22px;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    font-weight: 400;
    transition: 0.3s ease-in;
}

.services .services_card1 i {
    background: #9947ff;
    box-shadow: #9947ff78 2px 5px 20px 0px;
}

.services .services_card2 i {
    background: #427cd3;
    box-shadow: #427cd366 2px 5px 20px 0px;
}

.services .services_card3 i {
    background: #eb732e;
    box-shadow: #eb732e48 2px 5px 20px 0px;

}

.services .services_card4 i {
    background: #ee4882;
    box-shadow: #ee48825e 2px 5px 20px 0px;
}

.services_card .card_heading {
    font-size: 16px;
}

.services_card .card_text {
    color: var(--font-faded);
    font-weight: 500;
    font-size: 14px;
}

.services_card .card_read-more {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
}

.methods {
    display: flex;
    align-items: center;
    justify-content: center;
}

.methods>img {
    max-width: 400px;
    min-width: 250px;
    width: calc(100% + 100px);

}

.methods_right {
    padding: 25px;
}

.content_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 1rem;
    margin-bottom: 50px;
}

.content_list li {
    list-style-type: disc;
    color: #366b97;
    font-weight: 700;
}

/* ********** */
/* Course CSS */
/* ********** */

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #020418;
    max-width: 1536px;
    padding: 25px;
}

.course .head_text-main {
    color: var(--font-light);
}

.course .head_text-main i {
    color: #427cd3;
}

.carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 90%;
    max-width: 1200px;
}

.course_card {
    min-height: 350px;
    background: var(--bg-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    transition: 0.3s ease;
}

.course_card:hover {
    transform: translateY(-5px);
}

.course_card img {
    margin: 15px;
    width: 90%;
    aspect-ratio: 3/2;
    border-radius: 10px;
}

.card_middle,
.card_bottom {
    width: 90%;
    margin: 0 15px;
}

.card_middle {
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
}

.card_bottom,
.card_bottom_left,
.course_rating,
.card_bottom_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_bottom_left i {
    font-size: 18px;
    margin: 0 5px;
    color: var(--font-faded);
}

.card_bottom_left p {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-faded);
}

.card_bottom_left .course_rating i {
    color: #e77434;
    font-size: 12px;
}

.card_bottom_right {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_bottom_right i {
    font-size: 14px;
    transform: translateY(1.5px);
    margin-right: 2px;
}

/* ********** */
/* Footer CSS */
/* ********** */

footer {
    max-width: 1536px;
    margin: auto;
    background: #020418;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-newsletter {
    max-width: 1200px;
    background: var(--primary-color);
    padding: 25px;
    margin: 25px;
    width: 80%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    margin-top: 80px;
}

.footer-newsletter .newsletter-text {
    font-size: calc(20px + (30 - 28) * ((100vw - 300px) / (600 - 300)));
    font-weight: 700;
    margin: 0 10px;
    flex: 50%;
}

.newsletter {
    display: flex;
}

.newsletter>i {
    position: absolute;
    padding: 12px;
    color: #fff;
    font-weight: 500;
}

.newsletter input {
    border: 2px solid #dcd0dc;
    outline: none;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: Quicksand;
    font-weight: 600;
    width: 100%;
    padding-left: 40px;
    font-size: 12px;
}

input::placeholder {
    color: #fff;
    font-family: Quicksand;
}

.newsletter .subscribe {
    background: #fff;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 10px;
    color: var(--primary-color);
    font-weight: 700;
    font-family: Quicksand;
    margin: 0 1rem;
}

.footer-promo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    max-width: 1200px;
    grid-gap: 1rem;
}

footer .promo-logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

footer .promo-logo .img {
    background: url(/images/logo.jpg);
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

footer .promo-logo>span {
    font-size: 20px;
    font-weight: 800;
    margin-left: 10px;
}

.promo-menu,
.promo-contact {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.promo-team {
    min-width: 240px;
}

.promo-team .team-details {
    max-width: 220px;
}

.promo-team .promo_items {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.promo-team .promo_items:hover {
    background: inherit;
}

.promo-team .promo_items>i {
    color: var(--font-faded);
    transition: 0.3s;
}

.promo_items .rotate{
    transform: rotate(-180deg);
    
}

.footer-promo h3 {
    color: #787b8a;
    font-size: 22px;
}

.promo-menu a {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 2px 0;
    padding: 10px 14px;
    border-radius: 10px;
    width: 100px;
    transition: 0.3s ease;
}

.promo-menu a:hover {
    background: #7c93d823;
}

.promo-menu .team-details {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    display: none;
}

.team-details .team-img {
    text-align: center;
}

.team-details .member-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 1rem;

}

.team-details h3 {
    text-align: center;
    margin: 8px 0;
}

.team-details p {
    margin: 5px 0;
    font-size: 12px;
    color: #1b1b1b;
    font-weight: 600;
}

.team-details .member-web {
    background: var(--primary-color);
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    padding: 4px 8px;
    transition: 0.3s ease;
    font-size: 12px;
}

.member-web i {
    margin: 5px;
}


.team-details .member-web:hover {
    background: #fff;
    color: var(--primary-color);
}

.team-details .team-img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.promo-items-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.promo-contact h3 {
    text-align: center;
}

.promo-contact a {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.promo-contact a i {
    width: 16px;
    height: 16px;
    border: 2px solid #bdceff;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.promo-contact a i:hover {
    background: #7c93d823;
}

footer hr {
    width: 80%;
    border: none;
    border-bottom: 2px solid #787b8a;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #787b8a;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 50px;
}

.footer-copyright a {
    color: #787b8a;
    margin-right: 20px;
    transition: 0.3s;
}

.footer-copyright a:hover {
    text-decoration: underline;
}

/* *********** */
/* Media Query */
/* *********** */

@media (max-width: 924px) {
    .banner_img {
        flex-wrap: wrap;
    }

    .banner_img .img3 {
        transform: translateY(70px);
    }

    .banner_img .img4 {
        transform: translateY(20px);
    }
}

@media (max-width: 686px) {
    .nav_menu {
        display: none;
    }

    .nav-toggle {
        display: inherit;
    }

    .methods {
        flex-direction: column;
    }

    .footer-newsletter {
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-newsletter .newsletter-text {
        flex: inherit;
    }
}


@media (max-width: 450px) {
    .banner_buttons {
        flex-direction: column;
    }

    .banner_buttons .button1 {
        margin: 30px 0;

    }

    .banner_img-1,
    .banner_img-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner_img .img2,
    .banner_img .img3,
    .banner_img .img4 {
        transform: inherit;
    }

    .banner_img-1 img,
    .banner_img-2 img {
        margin-bottom: 1rem;
    }
}